/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección de contacto */
.contacto {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 28px;
    color: #333;
}

.contacto p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.portafolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.portafolio img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
