
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contenido-principal {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.informacion-contacto h3,
.redes-sociales h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.informacion-contacto p {
    font-size: 16px;
    margin: 5px 0;
}


.redes-sociales a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}

.redes-sociales a:hover {
    color: #ff6600;
}
