/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 0%;
  margin-left: 0%;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

nav ul li a:hover {
  border-bottom: 2px solid #29c4bc;
}

/* Estilos para el formulario */
.formulario {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}

/* Estilos para las secciones */
section {
  display: none;
  padding: 20px;
}

/* Estilos para la sección actual (puedes personalizar estos estilos) */
#inicio {
  background-color: #f0f0f0;
  display: block;
}

#contacto {
  background-color: #e0e0e0;
}

#galeria {
  background-color: #d0d0d0;
}

#citas {
  background-color: #c0c0c0;
}

#resenas {
  background-color: #b0b0b0;
}

.popup2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 20px;
  animation: popupAnimation 0.3s ease-in-out;
  position: absolute;
}


textarea {
  resize: none;
}


@keyframes popupAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

form {
  display: grid;
  grid-gap: 10px;
  position: relative;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

form textarea {
  height: 80px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

#enviarButton:hover {
  background-color: rgb(21, 255, 0);
  color: #000000;
  font-weight: bold;
  transition: all .3s;
}

#closeButton:hover {
  background-color: #f00;
  color: #000000;
  font-weight: bold;
  transition: all .3s;
}

.agregar-reseña {
  width: 180px;
  background-color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.agregar-reseña {
  width: 180px;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.reseñas {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff6600;
  transition: .2s;
}

#contacto {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para la sección de contacto */
.contacto {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 28px;
  color: #333;
}

.contacto p {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}

.portafolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.portafolio img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inicio-contactos {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contenido-principal {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 5px;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.informacion-contacto h3,
.redes-sociales h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.informacion-contacto p {
  font-size: 16px;
  margin: 5px 0;
}


.redes-sociales a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.redes-sociales a:hover {
  color: #ff6600;
}