header {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 0%;
}

textarea {
  resize: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #c4c4c4;
  transition: .5s;
}
.popup2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 20px;
  animation: popupAnimation 0.3s ease-in-out;
  position: absolute;
}



@keyframes popupAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

form {
  display: grid;
  grid-gap: 10px;
  position: relative;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

form textarea {
  height: 80px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

#enviarButton:hover{
  background-color: rgb(21, 255, 0);
  color: #000000;
  font-weight: bold;
  transition: all .3s;
}

#closeButton:hover {
  background-color: #f00;
  color: #000000;
  font-weight: bold;
  transition: all .3s;
}