header {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

textarea {
  resize: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  padding: 20px;
  animation: popupAnimation 0.3s ease-in-out;
}

@keyframes popupAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

form {
  display: grid;
  grid-gap: 10px;
  position: relative;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

form textarea {
  height: 80px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

#closeButton

#closeButton {
  top: -45px;
  right: 2px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
}

#closeButton:hover {
  color: #f00;
}

#enviarButton:hover{
  color: rgb(21, 255, 0)

}