.navbar-color {
  background-color: #610655;
  /* Color de fondo personalizado */
}

.link-unstyled {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Usa el color heredado (generalmente, el color predeterminado) */
}

.center-button {
  text-align: center;
}

.register-button {
  background-color: #610655;
  color: #ffffff;
  transition: .2s;
  border-width: 3px;
  border-color: #610655;

  &:hover {
    background-color: #a02f91;
    color: #ffffff;
    border-color: #a02f91;
  }
}

.title{
  color:#000000;
  padding: 0px 10px 4px 10px;
  border-bottom: 4px solid #a02f91;
  cursor: default;
  text-align: center;
}
.buttomsAE{
  text-align: center;
}
.actualizar{
  margin-right: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
}
.eliminar{
  margin-left: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
}
.centrado{
  text-align: center;
}