.navbar-color {
  background-color: #610655;
  /* Color de fondo personalizado */
}

.link-unstyled {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Usa el color heredado (generalmente, el color predeterminado) */
}

.center-button {
  text-align: center;
}

.register-button {
  background-color: rgb(97, 6, 85);
  color: #ffffff;
  transition: .2s;
  border-width: 3px;
  border-color: #610655;

  &:hover {
    background-color: #a02f91;
    color: #ffffff;
    border-color: #a02f91;
  }
}


.title {
  color: #000000;
  padding: 0px 10px 4px 10px;
  border-bottom: 4px solid #a02f91;
  cursor: default;
  text-align: center;
}

.buttomsAE {
  text-align: center;
}

.actualizar {
  border-color: blue;
  border-width: 2px;
  color: blue;
  margin-right: 5px;
  font-size: 14px;
  border-radius: 5px;
  background: none;

  &:hover {
    background-color: blue;
    border-color: blue;
  }
}

.eliminar {
  border-width: 2px;
  border-color: red;
  color: red;
  margin-left: 5px;
  font-size: 14px;
  border-radius: 5px;
  background: none;

  &:hover {
    background-color: red;
    border-color: red;
  }
}

.centrado {
  text-align: center;
  cursor: default;
}

textarea {
  resize: none;
}

/* Pages Inicio */

.inicio-contactos {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}


.contenido-principal {
  text-align: center;
  padding: 20px;
}



/* Pages Contacto */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px 20px 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(160, 47, 145, 1)
}

.informacion-contacto h3,
.redes-sociales h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.informacion-contacto p {
  font-size: 16px;
  margin: 5px 0;
}


.redes-sociales a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.redes-sociales a:hover {
  color: #ff6600;
}

.input-group-text{
  padding-top: 16px;
  padding-bottom: 16px;
}