.navbar-color {
  background-color: #610655;
  /* Color de fondo personalizado */
}

.link-unstyled {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Usa el color heredado (generalmente, el color predeterminado) */
}

.center-button {
  text-align: center;
}

.custom-button {
  background-color: #610655;
  color: #ffffff;
  transition: .2s;
  border-width: 3px;
  border-color: #610655;

  &:hover {
    background-color: #a02f91;
    color: #ffffff;
    border-color: #a02f91;
  }
}
