.navbar-color {
  background-color: #610655;
}

.link-unstyled {
  text-decoration: none;
  color: inherit;
}

.center-button {
  text-align: center;
}

.search-bar{
  margin-top: 14px;
  border: solid 2px rgba(0, 0, 0, 0.5);
}

.register-button {
  background-color: rgb(97, 6, 85);
  color: #ffffff;
  transition: .2s;
  border-width: 3px;
  border-color: #610655;

  &:hover {
    background-color: #a02f91;
    color: #ffffff;
    border-color: #a02f91;
  }
}
.register-button:active{
  background-color: #610655 !important;
  color: #ffffff !important;
  border-color: #610655 !important;
}

.title {
  color: #000000;
  padding: 0px 10px 4px 10px;
  border-bottom: 4px solid #a02f91;
  cursor: default;
  text-align: center;
}

.buttomsAE {
  text-align: center;
}

.actualizar {
  border-color: blue;
  border-width: 2px;
  color: blue;
  margin-right: 5px;
  font-size: 14px;
  border-radius: 5px;
  background: none;

  &:hover {
    background-color: #0000ff;
    border-color: blue;
  }
}

.eliminar {
  border-width: 2px;
  border-color: red;
  color: red;
  margin-left: 5px;
  font-size: 14px;
  border-radius: 5px;
  background: none;

  &:hover {
    background-color: red;
    border-color: red;
  }
}

.centrado {
  text-align: center;
  cursor: default;
}

textarea {
  resize: none;
}

/* Pages Inicio */

.inicio-contactos {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}


.contenido-principal {
  text-align: center;
  padding: 20px;
}



/* Pages Contacto */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px 20px 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(160, 47, 145, 1)
}

.informacion-contacto h3,
.redes-sociales h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.informacion-contacto p {
  font-size: 16px;
  margin: 5px 0;
}


.redes-sociales a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.redes-sociales a:hover {
  color: #ff6600;
}

.input-group-text {
  padding-top: 16px;
  padding-bottom: 16px;
}

#fecha_cita{
  margin-top: 17px;
  padding: 36px;
}


.show-password-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 2px 6px 4px 6px;
  margin: 2px 8px 2px 2px;
  background-color: #ffffff;
  transition: all .2s;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  &:hover{
    background-color: #cecece;
  }
  &:active{
    background-color: #0000ff !important;
  }
}

.sin-acceso-container .sin-acceso-card{
  align-items: center;
  margin-top: 220px;
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }
  
  .center{
    text-align: center;
  }
  
  .separator-container {
    text-align: center; /* Centra el contenido en línea */
  }